$font-family: Roboto, Avenir, Helvetica, Arial, sans-serif; // 字体
$font-family-letter: DIN-Bold, $font-family;
$primary-color: #0084FF; // 主色
$minor-color-main: #FF7700; // 辅助色1
$minor-color-minor: #00B38A; // 辅助色2
$minor-color-last: #FF1010; // 辅助色3
$background-color-main: #E8EBFF; // 背景色1
$background-color-minor: #EAEAEA; // 背景色2 

$font-color-main: #003669; // 正文本
$font-color-fix: #1D1D1D; // 2
$font-color-minor: #B2B4CA; // 描述文本
$font-color-nomal: #CBCBCB; // 描述文本2


$font-size-base: 14px; // 主字号

// 头部高度
$headerHeight: 60px;

$default-width: 1440px; // 默认最小宽度

// Menu
$menu-collapsed-width: 54px;

// dark theme
$menu-dark-bg: #222834;

// 测试
$menu-dark-highlight-color:red;

// 主窗口背景色
$mainBgColor: #f0f3f4;
// 左边宽度
$leftSideBarWidth: 200px;
// 头部下方面包屑高度
$headerBreadcrumbHeight: 34px;
// 头部面包屑下tab导航高度
$headerTabNavHeight: 36px;
